* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#home label {
    display: flex;
    width: 10%;
    padding: 10px;
    height: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
}

nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

input[type="checkbox"] {
    display: none;
}

#home i {
    display: inline-block;
    text-align: right;
    position: absolute;
    top: 25px;
    right: 25px;
    cursor: pointer;
    font-size: 30px;
}

#toggle-nav:checked~.toggle-menu>li {
    display: block;
    text-align: center;
}

.toggle-menu a {
    text-decoration: none;
}

nav ul>li {
    display: none;
    padding: 3px;
    text-align: center;
    position: relative;
    z-index: 1;
    margin: 10px 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    letter-spacing: 0.1em;
    font-weight: bolder;
    /*color: white;*/
}

nav ul>li>a {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.circle {
    height: 60px;
    width: 60px;
    background-color: #EBE8F0;
    border-radius: 50%;
    display: inline-block;
    margin-left: 30px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1.2px dashed black;
}

.circle span {
    text-decoration: none;
    color: black;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
}