@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(lightpink, purple);
    background-repeat: no-repeat;
}

.description p {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
    margin-left: 20%;
    margin-right: 20%;
}


/*Projects*/

.title {
    text-align: center;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
}

#projects {
    min-height: 600px;
}

#projects h2 {
    text-align: center;
    margin: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
}

#projects a {
    margin-left: 45%;
}

.project {
    margin: 10px;
    background-color: white;
}

.project img {
    width: 100%;
    min-height: 100px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}


/*Skills*/

#skills {
    min-height: 600px;
}

#skills img {
    width: 80%;
    height: 80%;
    border: 0.5px solid grey;
    margin: 8px;
}

.skill {
    margin-left: 40px;
}