@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.barlabel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    margin-bottom: 30px;
    margin-top: 15px;
    background-color: #EBE8F0;
}

.animation {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.animation h1 {
    display: inline;
    margin: .2em auto;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
    font-size: 1.5em;
    text-align: center;
    white-space: nowrap;
    color: black;
    overflow: hidden;
    animation: typewriter 4s steps(50) 1 normal both;
}

@keyframes typewriter {
    from {
        width: 0;
    }
    to {
        width: 18em;
    }
}

.barlabel h1 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-bottom: 1em;
    letter-spacing: 1px;
    color: black;
    margin-top: 20px;
}

.image {
    background-color: #746074;
}

#blog {
    min-height: 600px;
}

.block {
    display: inline-block;
}

.line {
    /*display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 20px;*/
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.tag {
    background-color: #EBE8F0;
    max-height: fit-content;
    padding: 20px;
    width: 280px;
    border: 1px solid grey;
    box-shadow: 0px 2px 2px 0px 2px grey;
    margin: 10px;
}

.tag img {
    max-width: 100%;
    min-height: 100px;
    box-shadow: 0px 0px 16px 1px grey;
}

.tag a {
    padding-top: 15px;
    padding-bottom: 2px;
    text-decoration: none;
    color: black;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    border-bottom: 1px dashed black;
}

.top {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.top a {
    text-decoration: none;
    color: white;
    font-family: 'Roboto', sans-serif;
    border-bottom: 1px solid white;
    font-size: 1em;
}


/*Blog post*/

.postimg {
    background-color: #746074;
}

.bloghead h1 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: white;
    letter-spacing: 1px;
    margin-top: 20px;
}

.bloghead h3 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 12px;
    font-style: italic;
    color: white;
    margin-top: 10px;
}

.blogpost {
    display: flex;
    justify-content: center;
    margin: 30px;
}

.blogpost img {
    max-width: 100%;
    max-height: 100%;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
    border-radius: 5px;
}

.blogpost p {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: white;
}


/*footer*/

.to-top {
    display: flex;
    justify-content: flex-end;
    margin-right: 50px;
}

.to-top a {
    text-decoration: none;
    color: white;
    font-family: 'Roboto Slab', serif;
    border-bottom: 1px solid white;
    font-size: 1em;
}


/*share media*/

.share {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: #EBE8F0;
    margin-bottom: 30px;
}

.share i {
    font-size: 1.2em;
}